.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1f2937;
    gap: 0;
    height: 450px;
    margin: 0;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 40px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.container-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: space-around;
    border-right: 50px;
    width: 100%;
    margin-top: 60px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
    width: 30%;
}

.hero-img {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 600px;
    align-self: center;
    margin-right: 200px;
    border-radius: 20%;
    
}

.container-tittle {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0;
}

.subtext  {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0;
    margin-top: 0;
}

button {
    background-color: #3882f6;
    border-radius: 20%;
    border: 0;
    padding:6px 12px;
}

.body-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.body-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.info {
    max-width: 200px;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 70px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin-bottom: 0;
    margin-right: 300px;
    margin-left: 340px;
}

.quote-signature {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    justify-content: flex-end;
    margin: 0;
    margin-right: 300px;
    margin-left: 340px;
}

.call-to-action {
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.action-text {
    background-color: #3882f6;
    border-radius: 7px;
    width: 50%;
    height: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-title,
.call-body {
    margin-top: 5px;
    margin-bottom: 5px;
}

.action-button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #edeff1;
    border-color: #e9ecf1;

}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}